<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend Server Home</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div class="container">
            <h1 class="title">Server side data...</h1>
            <nav class="navigation">
                <a href="/api/users" class="link link-users">View Users Data In .json Format</a>
                <a href="/api/products" class="link link-products">View Products Data In .json Format</a>
            </nav>
    </div>
    <script src="/script.js"></script>
</body>
</html>

